/* styles.css */

* {
    cursor: url('../public/cursor.svg'), auto;
    padding: 0;
    margin: 0;
}

html {
    background-image: url('../public/bg.svg');
    height: 100%;
}

body {
    height: 98%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.body-container {
    flex: 1;
    padding: 20px;
}

.logo {
    max-height: 150px; 
    width: auto; 
}

button, .button-class {
    cursor: pointer;
}

input[type="text"], textarea {
    cursor: url('../public/cursor-text.svg') 8 10, auto; /* Use the custom cursor image */
}

