.terminal-container {
  border-radius: 10px;
  background-color: #211D1B;
  color: #519975;
  font-family: cursor, monospace;
  height: 550px; /* Set a fixed height or use max-height */
  max-height: 550px; /* You can change this value to fit your layout */
  padding: 20px;
  border: 2px solid #333;
  overflow-y: auto; /* Enable vertical scrolling */
  box-sizing: border-box; 
}

.output-area {
  margin-bottom: 10px;
  overflow-y: auto; /* Ensures the output area also scrolls if necessary */
}


.command-line {
  color: #519975;
}

.command-output {
  color: #9C8394;
  margin-left: 2em;
}

.input-line {
  display: flex;
  align-items: center;
}

.prompt {
  margin-right: 5px;
  color: #519975;
}

.input-field {
  background-color: transparent;
  font-family: monospace;
  border: none;
  color: #73ABAD;
  outline: none;
  flex: 1;
  width: 100%;
}

h1 {
  color: #519975;
}

pre.title {
  color: #519975;
  font-family: monospace;
}

.dir-color {
  color: blue; /* Or anfy color for directories */
  font-weight: bold;
}

.file-color {
  color: green; /* Or any color for files */
}

.path-color {
  color: #B89076;
}

::-moz-selection { /* Code for Firefox */
  color: #211D1B;
  background: #519975;
}

::selection {
  color: #211D1B;
  background: #519975;
}

/* Custom Scrollbar Styles */
.terminal-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.terminal-container::-webkit-scrollbar-thumb {
  background-color: #9C8394; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

.terminal-container::-webkit-scrollbar-track {
  background: #333; /* Background of the scrollbar track */
}
